/* style.css - ARQUIVO LIMPO */

body {
    background-color: #050505; /* Garante fundo preto antes de carregar o resto */
    margin: 0;
    overflow: hidden; /* Evita barra de rolagem dupla */
}

/* ESSENCIAL: Garante que o Javascript consiga mostrar os Overlays */
.active {
    display: flex !important;
}

/* Scrollbar Personalizada para combinar com o tema */
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #100505; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #4B1919; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #FF0000; }

/* Animação suave de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in { animation: fadeIn 0.5s ease-out forwards; }